body {
    background-color: #d86234;
}

.display-4 {
    text-align: center;
}

.nameBox {
    padding: 10px;
}


.jumbotron {
    text-align: center important!;	    
    background-color: #d86234;
}