body {
    background-color: #d86234;
}

.title {
    text-align: center;
}


.studentName {
    padding: 10px;
}


.jumbotron {
    text-align: center important!;	    
    background-color: #d86234;
}

.card {
    margin: 2px;
    width: 50px;
    background-color: bisque;
}

.card-body {
    text-align: center;
    background-color: bisque;
}

#sortedStudents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}